body {
    background-color: black;
    color: white;
    
}

.container {
    border: 15px white solid;
    padding-bottom: 50px;
    border-radius: 50px;
    margin-top: 20px;

}

#game {
    width: 100%;
}

#currentWord {
    letter-spacing: 3.5px;
}

#losses {
    padding-left: 15px;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 100px;
    color:orange;
    text-transform: uppercase;
}

.col-sm {
    padding-left: 30px;
    padding-right: 30px;

}