body {
    background-color: black;
    color: white;
    
}

.container-fluid {
    border: 15px white solid;
    padding-bottom: 200px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 50px;

}

#game {
    margin: auto;
    width: 100%;
}

h1 {
    font-size: 5em;
    text-align: center;
}

h2 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 100px;
    color:orange;
    text-transform: uppercase;
}